<?xml version="1.0"?>
<model>
  <name>sr75_launch_stack_visual_follower</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>SR75</name>
  </author>
  <description>
    Blender-corrected SR-75 UAV, RATO, launcher with control and engine placeholders.
  </description>
</model>
