<?xml version="1.0"?>
<model>
  <name>sr75_launch_stack</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Machfly / SR75</name>
  </author>
  <description>
    Visual-only SR-75 launch stack exported from Blender: UAV, RATO, launcher.
  </description>
</model>
