<?xml version="1.0"?>
<model>
  <name>sr75_skyreaper</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>SR-75 Project</name>
    <email>ayush.divyansh@machflyaerospace.com</email>
  </author>

  <description>
    SR-75 Skyreaper base UAV model for Gazebo ArduPilot SITL.
  </description>
</model>