<?xml version="1.0"?>
<model>
  <name>sr75_terrain_10km</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>SR75</name>
  </author>
  <description>SR-75 10 km SRTM terrain rendered as a visual mesh to avoid Ogre2 Terra shader failures under WSL.</description>
</model>
